@import url("./styles/intro.css");
@import url("./styles/header.css");
@import url("./styles/about.css");
@import url("./styles/main.css");
@import url("./styles/project.css");
@import url("./styles/skills.css");
@import url("./styles/contact.css");
@import url("./styles/footer.css");
@import url("./styles/description.css");

* {
  box-sizing: border-box;
}

.display-hidden {
  display: none;
}

/* 폰트 */
@font-face {
  font-family: "gabiaSolmee";
  src: url("./fonts/gabia_solmee.ttf");
}
@font-face {
  font-family: "HakgyoansimBunpilR";
  src: url("./fonts/HakgyoansimBunpilR.ttf");
}
@font-face {
  font-family: "HakgyoansimWoojuR";
  src: url("./fonts/HakgyoansimWoojuR.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap");

/* ===== 변수 구간 ===== */
:root {
  --color-main: #3a98b9;
  --color-sub: #00a200;
  --color-dark: #2f4858;
  --color-emph: #f10f5f;
  --color-text: #281812;
  --color-lighter-sd: #e8d5c4;
  --color-light-bd: #e8d5c4;
  --color-light-bg: #fff1dc;

  --font-code: "Nanum Gothic Coding", monospace;

  --font-size-title: 44px;
  --font-size-subtitle: 32px;
  --font-size-tag: 26px;
  --font-size-larger: 20px;
  --font-size-text: 18px;

  --height-toolbar: 72px;
}

/* ===== 리셋 구간 ===== */

body {
  margin: 0;
  font-family: "HakgyoansimBunpilR", sans-serif;

  /* 개발용 설정 */
  /* min-height: 300vh; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

strong,
em {
  font-weight: inherit;
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl {
  margin: 0;
}
dd {
  margin: 0;
  display: inline;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

th {
  font-weight: normal;
}

address {
  font-style: inherit;
}

button {
  font-family: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 텍스트 올라오는 애니메이션 */
@keyframes text-up {
  from {
    translate: 0 100%;
  }
  to {
    translate: 0 0;
  }
}

/* 스크롤 스타일 */
.scroll_container {
  transform: translateX(-50%);
  opacity: 0;
  transition: 800ms;
}
.active {
  transform: translateX(0);
  opacity: 1;
}
