#about {
  background-color: var(--color-light-bg);
}

/* 임시 */
.about { 
  /* height: 50vh; */
  padding: 20px;
}

/* 서브타이틀 */
.about_header {
  font-size: var(--font-size-subtitle);
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 130%; /* 모바일 여러줄 용 */
}

.about_contents {
  padding-top: 20px;
}
/* 본문 내용들 */
.about_contents p {
  font-size: var(--font-size-larger);
  line-height: 130%;
  text-align: left;
  margin-bottom: 5px;
  /* font-size: 30px; */
}

/* 모바일 */
@media (max-width: 768px) {

}

/* 데스크탑 */
@media (min-width: 769px) {
  /* pc모드에서는 서브타이틀 한줄로 보이기 */
  .about_br {
    display: none;
  }

  /* 서브 타이틀 */
  .about_header {
    margin-bottom: 50px;
  }
  
  
  /* 본문 내용들 */
  .about_contents {
    max-width: 1000px;
    margin: auto;
    /* padding: 50px; */
  }
  .about_contents p {
    font-size: var(--font-size-tag);
  }
}