/* 헤더의 배치 */
.header {
  display: flex;
  position: sticky;

  /* 스크롤업되는 컨텐츠 위로 올라오도록 */
  z-index: 2;

  top: 0;
  height: var(--height-toolbar);
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main);

  color: white;
}

/* 왼쪽 링크와 홈 */
.header__homelink {
  display: inline-block;
  padding: 0 24px;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
  cursor: pointer;
}
.header__homesvg {
  display: inline-block;
  height: 48px;
  vertical-align: middle;
}

/* 내비게이션 */
.header__nav-item {
  font-size: var(--font-size-larger);
  font-weight: bold;
}

/* 내비게이션 링크 */
.header__nav-item a {
  /* 클릭 영역 확대 */
  display: inline-block;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
}

/* ---------- 모바일 ---------- */
@media (max-width: 768px) {
  /* 내비게이션 */
  .header__nav {
    display: none;
  }

  .header__nav-item {
    color: var(--color-main);
  }

  /* 모바일 메뉴 버튼 */
  .header__menu-btn {
    /* 체크박스 인풋을 버튼으로 커스터마이즈 */
    all: unset;
    height: 100%;
    display: block;
    border-top-left-radius: 20px;
    padding: 0 24px;
    cursor: pointer;
    transition: all 500ms;
  }
  .bg-change {
    /* background-color: var(--color-light-bg); */
    background-color: #EEEEEE;
  }

  /* 모바일 메뉴 팝업 */
  .header__nav {
    display: inherit;
    position: absolute;
    top: var(--height-toolbar);
    right: 0;
    background-color: #EEEEEE;
    padding-bottom: 1em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
    height: 310px;
    transition: all 500ms;
  }
  .header__nav-item {
    width: 100vw;
    text-align: center;
  }
  .header__nav-item a {
    width: 100vw;
  }
  .header__nav-item:not(:last-child) {
    border-bottom: 2px solid #FFFFFF;
  }

  /* 내비 숨기기 */
  .hidden { 
    height: 0;
    padding: 0;
    margin: 0;
  }
}

/* ---------- 데스크탑 ---------- */
@media (min-width: 769px) {
  /* 내비게이션 */
  .header__nav-item {
    display: inline-block;
    position: relative;
  }
  .header__nav-item:last-child {
    margin-right: 1.6em;
  }

  /* 내비게이션 링크 */
  .header__nav-item a {
    padding: 0 0.8em;
  }

  /* 네비게이션 호버시 롤오버 효과 */
  .header__nav-item::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 0;
    background-color: white;
    transition: all 350ms;
  }
  .header__nav-item:hover::after {
    left: 0;
    width: 100%;
    height: 8px;
  }

  /* 모바일 메뉴버튼 숨기기 */
  .header__menu-btn {
    display: none;
  }
}

/* top 버튼 */
@keyframes topbt_ani {
  from { transform: translateY(0); }
  to { transform: translateY(-5px); }
}
#movetopbt {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  border: none;
  background-color: var(--color-main);
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 3px 3px 3px #2F4858;
}

#movetopbt:hover {
  /* 데스크탑에서 호버했을때 위로 통통 튀는 애니 */
  animation-name: topbt_ani;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
